.area-form {
  width: 25rem;
  background-color: #ddd;
  padding: 3.125rem;
}

.area-form div {
  margin-bottom: 1.25rem;
}

.area-form input {
  width: 100%;
  border: 0.0625rem solid #999;
  border-radius: 0.3125rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  outline: none;
}

input[type="submit"] {
  margin-bottom: 1.25rem;
}

input[type="submit"]:hover {
  background-color: #FFF;
}

.login a {
  text-decoration: none;
  color: #0000CD;
}

.error {
  font-size: 0.8125rem;
  background-color: #FF0000;
  color: #FFF;
  padding: 0.25rem;
  border-radius: 0.3125rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .area-form {
    width: 100vw;
  }
}